html, body {
	margin: 0;
	padding: 0;
}
body {
	background: rgba(0, 0, 256, .75) url('http://res2.windows.microsoft.com/resbox/en/windows/main/ebf9f807-1f54-4b82-a3fe-862380833f9c_6.jpg') no-repeat;
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	overflow: hidden;
}
li {
	color: rgb(255, 255, 255);
	white-space: nowrap;
}
ul {
	list-style-type: none;
	padding-left: 19px;
}
.busy { cursor: wait; }
.center { text-align: center; }
.container, .login-container {
	max-height: 100vh;
	min-height: 512px;
	max-width: 100vw;
	min-width: 640px;
	height: 100vh;
	width: 100vw;
}
.directoryStructure {
	margin-bottom: 4px;
	margin-left: -14px;
	margin-top: 4px;
}
.error, .info, .success {
	min-width: 250px;
	overflow: hidden;
	transition: top 2s, right 2s;
	
	position: absolute;
	top: 35%;
	right: 50%;
	margin-top: -7px;
	margin-right: -125px;
	z-index: 2000;
	
	background-color: rgb(255, 0, 0);
	padding: 6px;
}
.fa { cursor: default; }
.fa-power-off {
	position: absolute;
	top: 0;
	right: 0;

	padding: 4px;
}
.info { background-color: rgb(255, 255, 0); }
.login {
	min-width: 300px;
	min-height: 150px;
	
	background: rgba(16, 16, 16, 0.65);
	border: 1px solid #000;
	border-radius: 12px;
	padding: 6px;
}
.login .input input {
	background: rgba(0, 0, 0, 0.5);
	border-width: 0;
	border-radius: 6px;
	color: rgb(128, 128, 128);
	font-family: monospace;
	font-weight: bold;
	padding: 8px;
	width: 160px;
}
.login > .title {
	color: rgb(255, 255, 255);
	font-size: 30px;
	margin-bottom: 12px;
}
.menu {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100vh;
	max-height: 100vh;
	max-width: 300px;

	background: rgba(16, 16, 16, 0.8);
	border: 1px solid #000;
	color: rgb(255, 255, 255);
	font-family: 'Droid Sans Mono', monospace;
	z-index: 2000;
}
.menu .content { overflow: auto; }
.menu .control {
	background-color: rgba(128, 128, 128, .5);
	color: black;
}
.success { background-color: rgb(0, 128, 0); }
.yellow { color: rgb(255, 255, 0); }




















/*
.collapseFolder {
	max-height: 0;
	overflow: hidden;
	display: none;
}
.fa-pencil {
	color: rgb(255, 255, 255);
	margin-left: 6px;
}
.fa-times { margin-left: 2px; }
.gray { color: rgb(128, 128, 128); }
.openFile {
	display: inline-block;
	
	position: absolute !important;
	top: 10px;
	left: 50px;
	
	background: rgb(80, 80, 80);
	border: 1px solid rgb(0, 0, 0);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.openFile > .name {
	display: inline-block;
	min-height: 20px;
	
	color: rgb(255, 255, 255);
	font-size: 13px;
	font-weight: bold;
	margin-left: 6px;
	margin-top: 6px;
}
.openFile > .content { margin-bottom: -3px; }
.openFile > .content > .data {
	min-height: 500px;
	min-width: 800px;
	
	background-color: rgb(0, 0, 0);
	color: rgb(0, 255, 0);
	font-family: 'Droid Sans Mono', monospace;
	tab-size: 4;
}
.openFile > .windowControls {
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 6px;
}
.red { color: rgb(255, 0, 0); }
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

*/